@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #FFB319, #FFAA00);
    
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(189, 126, 0, 0.781);
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1{
    color: #0047B3;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 56, 139, 0.781);
}

h2{
    color: #0066FF;
}

p{
    text-align: justify;
}